*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

ul{
    position: relative;
    display: flex;
    /*flex-direction: column;*/
    flex-direction: row;
    text-align: center;
}

ul li{
    position: relative;
    list-style: none;
}
ul li a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #dadada;
    padding: 8px 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 5px;
}
ul li a.active{
    background: #00b5de;
    color: white;
}

h2{
    color: white;
    background: lightcoral;
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 5px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}
p{
    color: white;
    background: lightseagreen;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
    text-align: justify;
    width: 525px;
    margin: 0 auto;
}